<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Cycle Music Timer Drills</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.stewart.french.CycleMusicTimer2.cmt</string>
			</array>
		</dict>
	</array>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>New item</key>
		<string></string>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
		<key>UIApplicationSupportsTabbedSceneCollection</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict/>
	</dict>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Cycle Music Timer Drills</string>
			<key>UTTypeIdentifier</key>
			<string>com.stewart.french.CycleMusicTimer2.cmt</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>cmt</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/CycleMusicTimer2</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>kTCCServiceMediaLibrary</key>
	<string>This app requires Apple Music library access to display artists, albums, playlists, and to play music tracks.</string>
</dict>
</plist>
